
.button {
    background-color:#816882;
    border: none;
    color: aliceblue;
    border-radius: 5%;
    height: 2.5em;
    width: 10em;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    margin-top: 2em;
    margin-left: 15em;
}

.button:hover {
    background-color:rgb(124, 128, 131);
    color: white;
}


