
.button {
    background-color:#816882;
    border: none;
    color: aliceblue;
    border-radius: 5%;
    height: 5.5em;
    width: 20em;
    cursor: pointer;
    text-align: center;
    margin: auto;
    text-decoration: none;
    color: rgb(210, 215, 219);
    font-weight: bold;
}

.button:hover {
    background-color:rgb(124, 128, 131);
    color: white;
}


