.container_table{
    margin: auto;
    margin-top: 1rem;
    width: 40rem;  
    
}

.container_table li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}  


@media screen and (min-width: 375px) {
    .container_table {
        width: 10rem;  
    }
}

@media screen and (min-width: 360px) {
    .container_table {
        width: 20rem;  
    }
}

@media screen and (min-width: 280px) {
    .container_table {
        width: 16rem;  
    }
}

@media screen and (min-width: 1024px) {
    .container_table {
        width: 40rem;  
    }

}